@import '../../../sass/variables'
.main
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    background-color: $bgc-color

.container
    width: 90%
    height: 90%
    display: grid
    padding: 15px
    border-radius: 20px;
    background-color: white

    